.navBar-container {
    width: 100vw;
    display: flex;
    background-color: cadetblue;
    align-items: flex-start;
    justify-content: start;
    --background-color: #000000;

    .navBar-margin {
        color: white;
        display: flex;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        padding: 0 1.2rem;

        .nav-link {
            display: flex;
            color: white;
            background-color: blueviolet;
            text-align: center;
            text-decoration: none;
        }

    }


}