.foot-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;

    .foot-column {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;

        .foot-title-text {
            color: white;
            font-weight: bold;
            font-size: 12pt;
        }

        .foot-subtitle-text {
            color: white;
            font-size: 10pt;
            margin-top: 10px;
        }

        .logo-page {
            padding-top: 87px;
            width: 220px;
            align-self: center;
        }

        .foot-contact-row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .icon-foot {
                color: #fff;
                font-size: 20px;
                margin-top: 8px;
                margin-right: 10px;
            }
        }

        .developer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
        }
    }

    .link-decoration {
        text-decoration: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .foot-row {
        flex-direction: column;

        .foot-column {
            width: 60%;
            margin-top: 20px;

            .logo-page {
                padding-top: 30px;
            }

            .developer {
                margin-top: 0px;
            }
        }


    }
}

@media only screen and (min-width: 500px) and (max-width: 680px) {
    .foot-row {
        flex-direction: column;

        .foot-column {
            width: 60%;
            margin-top: 20px;

            .logo-page {
                padding-top: 30px;
            }

            .developer {
                margin-top: 0px;
            }
        }


    }
}