.foot-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

    .foot-column {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;

        .foot-title-text {
            color: white;
            font-weight: bold;
            font-size: 12pt;
        }

        .foot-subtitle-text {
            color: white;
            font-size: 10pt;
            margin-top: 10px;
        }

        .logo-page {
            padding-top: 87px;
            width: 220px;
            align-self: center;
        }

        .foot-contact-row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .icon-foot {
                color: #fff;
                font-size: 20px;
                margin-top: 8px;
                margin-right: 10px;
            }
        }

        .developer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
        }
    }

    .link-decoration {
        text-decoration: none;
    }
}