.principal {
    display: contents;
    position: relative;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        position: relative;
    }

    .carrousel {

        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 3vmin;


        background: #eff5f5;
        color: #fff;
        overflow: hidden;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    .barPublish {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        top: 0%;
        right: 0%;
        background-color: #f7b100;
    }

    .whoWeAre {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footBar {
        display: flex;
        flex-direction: row;
        background-color: #191919;
        justify-content: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .principal {
        .barPublish {
            flex-direction: column;
        }

        .whoWeAre {
            flex-direction: column;
        }
    }
}