.container-row-barPublish {
    width: 100vw;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    height: 100px;

    .link-decoration {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .container-column-barPublish {
        display: flex;
        flex-direction: row;
        border-radius: 25px;
        background-color: #ffb224;
        margin: 10px;
        align-items: flex-end;

        .icon-class-barPublish {
            color: #000;
            font-size: 45px;
        }
    }

    .container-column-barPublish:hover {
        background-color: #ffe56c;

        .container-column-width-barPublish .title-bar-text,
        .subtitle-bar-text {
            color: #000;
            text-shadow: 0.9px 1px #fff;
        }

        .icon-class-barPublish {
            color: #191919;
        }


    }

    .container-column-width-barPublish {
        text-align-last: start;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;

        .title-bar-text {
            font-size: 10pt;
            color: #fafcfc;
            text-shadow: 1.5px 0.98px #fff;
            font-weight: bold;
            text-align: left;
            margin-top: 4px;
        }

        .subtitle-bar-text {
            color: #fafcfc;
            text-shadow: 2.5px 1px #000;
            font-size: 11pt;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 589px) {
    .container-row-barPublish {
        width: 100vw;
        justify-content: normal;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 10px;

        .container-column-barPublish {
            display: flex;
            flex-direction: row;

            .icon-class-barPublish {
                color: #303030;
                font-size: 30px;
            }
        }

        .container-column-width-barPublish {
            float: left;
            height: 100%;
            text-align-last: start;
            margin-left: 8px;

            .title-bar-text {
                font-size: 10pt;
                color: #000;
                font-weight: bold;
                text-align: left;
                margin-top: 4px;
            }

            .subtitle-bar-text {
                color: #fff;
                font-size: 12pt;
                font-weight: bold;
            }
        }
    }
}


@media only screen and (min-width: 590px) and (max-width: 1250px) {
    .container-row-barPublish {
        width: 100vw;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        .container-column-barPublish {
            flex-direction: row;

            .icon-class-barPublish {
                color: #000;
                font-size: 30px;
            }
        }

        .container-column-width-barPublish {
            float: left;
            height: 100%;
            text-align-last: start;
            margin-left: 8px;

            .title-bar-text {
                font-size: 8.5pt;
                color: #000;
                text-shadow: 1.5px 0.98px #fff;
                font-weight: bold;
                text-align: left;
                margin-top: 4px;
            }

            .subtitle-bar-text {
                color: #fff;
                text-shadow: 1.5px 0.98px #000;
                font-size: 11pt;
                font-weight: bold;
            }
        }
    }
}