.header-class {
    --width: 100vw;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #000000;

    .logo-page {
        padding-left: 76px;
        padding-top: 43px;
    }

    .header-contacts {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 3.5%;
        right: 0%;
        border-radius: 5em 0 0 0em;
        box-shadow: 0 0 0 0.13em #f7b100;
        background-color: #EFF5F5;
        width: 65%;

        .container-row {
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 100%;
            align-items: center;
            justify-content: flex-end;

            .link-decoration {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100vw;
                justify-content: center;
            }

            .container-column {
                display: flex;
                flex-direction: row;
                border-radius: 16px;
                align-items: center;
                height: fit-content;
                padding: 6px;
                --margin-right: 3px;

                .icon-class {
                    color: #f7b100;
                    font-size: 40px;
                }

                .icon-divider-class {
                    color: #424242;
                    font-size: 45px;
                }
            }

            .container-column:hover {
                background-color: #f7b100;

                .container-column,
                .icon-class,
                .icon-divider-class {
                    color: #fff;
                }

                .container-column-width {

                    .title-text,
                    .subtitle-text {
                        color: #fff
                    }
                }
            }

            .container-column-width {
                text-align-last: start;
                margin-left: 10px;
                display: flex;
                flex-direction: column;

                .title-text {
                    font-size: 12pt;
                    color: #f7b100;
                    font-weight: bold;
                    text-align: left;
                }

                .subtitle-text {
                    font-size: 10pt;
                    color: black;
                    font-weight: bold;
                    margin-top: 3px;
                }
            }
        }
    }
}


/* Media Screen Size */
@media only screen and (min-width: 320px) and (max-width: 800px) {
    .header-class {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        .header-logo {
            display: flex;
            width: 100vw;
            justify-content: center;

            .logo-page {
                padding-left: 0px;
                padding-top: 30px;
                width: 230px;
            }
        }


        .header-contacts {
            position: unset;
            width: 100vw;
            background-color: #EFF5F5;
            border-radius: 0 0 0 0;
            box-shadow: 0 0 0 0.10em #f7b100;
            margin-top: 15px;

            .container-row {
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100vw;
                align-items: center;
                padding: 0px;
                padding-top: 0px;

                .container-column {
                    margin-bottom: 6px;

                    .icon-class {
                        color: #f7b100;
                        font-size: 40px;
                        margin-top: 20px;
                    }

                    .icon-divider-class {
                        color: #424242;
                        font-size: 0px;
                        margin-top: 20px;
                    }
                }

                .container-column-width {
                    --border: 2px solid blue;
                    float: left;
                    height: 100%;
                    text-align-last: start;
                    --margin-left: 8px;

                    .title-text {
                        font-size: 14pt;
                        color: #f7b100;
                        font-weight: bold;
                        text-align: left;
                    }

                    .subtitle-text {
                        font-size: 12pt;
                        font-weight: bold;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}

/* Media Screen Size */
@media only screen and (min-width: 800px) and (max-width: 1250px) {
    .header-class {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow: hidden;

        .header-logo {
            display: flex;
            width: 100vw;
            justify-content: center;

            .logo-page {
                padding-left: 0px;
                padding-top: 30px;
                width: 230px;
            }
        }


        .header-contacts {
            position: unset;
            width: 95vw;
            background-color: #EFF5F5;
            border-radius: 0 0 0 0;
            box-shadow: 0 0 0 0.10em #f7b100;
            margin-top: 15px;

            .container-row {
                display: flex;
                flex-direction: row;
                height: 100px;
                width: 100%;
                align-items: center;
                justify-content: flex-end;

                .container-column {
                    margin-bottom: 6px;

                    .icon-class {
                        color: #f7b100;
                        font-size: 35px;
                    }

                    .icon-divider-class {
                        color: #424242;
                        font-size: 0px;
                        margin-top: 0px;
                    }
                }

                .container-column-width {
                    --border: 2px solid blue;
                    float: left;
                    height: 100%;
                    text-align-last: start;

                    .title-text {
                        font-size: 11pt;
                        color: #f7b100;
                        font-weight: bold;
                        text-align: left;
                    }

                    .subtitle-text {
                        font-size: 9pt;
                        font-weight: bold;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}