.navBar-container {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: #000000;

    .navBar-options {
        display: flex;
        padding-left: 80px;
        padding-bottom: 20px;

        .navBar-margin {
            color: white;
            display: flex;
            cursor: pointer;
            align-items: center;
            text-decoration: none;
            padding: 5px 1.7rem;
            border-radius: 15px 50px;
            background: #f7b100;
            margin-left: 25px;

            .nav-link {
                display: flex;
                color: white;
                font-weight: bold;
                font-size: 11.8pt;
                text-align: center;
                text-decoration: none;
            }
        }


        .navBar-margin:hover {
            background-color: #FF8F00;

            .nav-link {
                color: white;
            }
        }
    }


}