@import url("https://fonts.googleapis.com/css?family=Varela+Round");


html {
    body {
        font-family: "Varela Round", sans-serif;
    }
}


.style-nav {
    position: sticky;
    background: #000000;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
        padding: 0;
        margin: 0;
        letter-spacing: 1.1px;

    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        margin-left: 50px;
    }

    .menu li {
        margin-top: 25px;
        width: 125px;
        height: 50px;
        transition: background-position-x 0.9s linear;
        text-align: center;

        a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            transition: all 0.45s;
        }

        &:hover {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs0L1pbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHTQvWg9IjM5MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCAzOTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM5MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2Y3YjEwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTAsNDcuNTg1YzAsMCw5Ny41LDAsMTMwLDAKCWMxMy43NSwwLDI4Ljc0LTM4Ljc3OCw0Ni4xNjgtMTkuNDE2QzE5Mi42NjksNDYuNSwyNDMuNjAzLDQ3LjU4NSwyNjAsNDcuNTg1Y9C9MzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
            animation: line 1s;
        }

        &:hover a {
            color: #f7b100;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    @keyframes line {
        0% {
            background-position-x: 390px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .style-nav .menu {
        margin-left: 0px;
    }

    .style-nav .menu li {
        margin-top: 20px
    }
}