* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.container-header {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}